<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon | relURL }}">
    {{ end }}
    {{ if .Site.Params.favicon_dark }}
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_dark | relURL }}" media="(prefers-color-scheme: dark)">
    {{ end }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    {{ if .Site.Params.canonical }}<link rel="canonical" href="{{ .Site.Params.canonical }}">{{ end }}
    {{ $style := resources.Get "css/style.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    {{ partial "custom_head.html" .}}
</head>
<body>
    <div class="wrapper">
        <header>
            {{ partial "header.html" . }}
        </header>
        <section>
            {{ block "main" . }}{{ end }}
        </section>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </div>
</body>
</html>
